[submodule "sw/icm20948-source"]
	path = sw/icm20948-source
	url = https://github.com/cybergear-robotics/icm20948
[submodule "sw/mausring_esp"]
	path = sw/mausring_esp
	url = git@github.com:vstkl/mausring_esp.git
